@import '../../../css/global.scss';

.box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.iconStyle{
  font-size: $IconSize;
  svg {
    color: $themeColor;
  }
}
.msgBox {
  position: relative;
}
.notify {
  width: 10px;
  height: 10px;
  background-color: $themeColor;
  position: absolute;
  top: 0.2rem;
  left: 2.5rem;
  border-radius: 50%;
  
}