.box {
  padding: 1rem;
}

.info {

}
.likeMusic {
  margin-top: 1rem;
}

.likeAlbum {
  margin-top: 1rem;
}

.moment {

}
.name {
  h1{
    margin-bottom: 0;
  }
}

.data {
  >span{
    margin-right: 1rem;
  }
}

.cardTitle {
  margin: 0;
  font-weight: 700;
}