@import '../../../css/global.scss';
.box {
  padding: 1rem;
}

.info {

}
.likeMusic {
  margin-top: 1rem;
}

.likeAlbum {
  margin-top: 1rem;
}

.moment {

}
.name {
  h1{
    margin-bottom: 0;
  }
}

.data {
  >span{
    margin-right: 1rem;
  }
}

.cardTitle {
  margin: 0;
  font-weight: 700;
}

.setting {
  margin-top: 1rem;
  h3>span {
    margin-left: .5rem;
  }
  h3{
    padding-bottom: .5rem;
    border-bottom: 1px solid $lineColor;
  }
  >main{
    p{
      padding: .5rem;
      margin-bottom: 0;
    }
  }
}
