@import '../../css/global.scss';

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  section {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: background-color .3s;
    @include cc;
  }
}
.navItemBox {
  height: 100%;
  flex: 1;
  @include cc;
  position: relative;
}

.activedStyle {
  background-color: $themeColor; 
  opacity: 1;
  svg{
    color: white;
  }
}
.notify {
  position: absolute;
  top: .3rem;
  right: 1.5rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $themeColor;
  
}
